<div class="text-center"><h4>Results</h4></div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md">
      <h5>Grid</h5>
      <%= @command.grid.x %> x <%= @command.grid.y %> <br><br>
    </div>

    <div class="col-md">
      <% @command.rovers.each_with_index do |rover, index| %>
        <h6>Rover <%= index + 1 %></h6>
        Staring: <b><%= [rover.start_x, rover.start_y, rover.start_direction].join(', ') %></b><br>
        Commands: <%= rover.commands %><br>
        Ending Coords: <b><%= [rover.end_x, rover.end_y, rover.end_direction].join(', ') %></b><br>

        <% if rover.rover_errors.present? %>
          <div class='red'>Errors: <%= rover.rover_errors %></div>
        <% end %>
        <br><br>
      <% end %>
    </div>
  </div>
</div>

<div class='row'>
  <%= link_to 'Issue New Commands', root_path, method: :get, class: 'btn button' %>
</div>
