<!DOCTYPE html>
<html>
  <head>
    <title>RoverHq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/" class="logo"><%= image_tag("cg-name.jpeg", height: 120, width: 220) %></a>
    </header>
    <%= yield %>
  </body>
</html>
