<!DOCTYPE html>
<html>
  <head>
    <title>RoverHq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b01f9dc4e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <a href="/" class="logo"><%= image_tag("cg-name.jpeg", height: 120, width: 220) %></a>
    </header>
    <div class="content">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
            <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
